ul li {
    list-style-type: none; 
}
  
img {
    display: block;
    max-width: 100%;
    height: auto;
}
 
body {
    width: 100%;
    min-height: 100vh;
    background: url(../img/main-bg.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.game-box {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.4);
}

.tabs {
    width: 100%;
    min-height: 115px;
    background-color: #4b536b;
    display: flex;
    flex-direction: row;
    justify-content: space-around;       
    &__link {
        cursor: pointer;
        width: 100%;
        max-width: 148px;
        text-align: center;
        margin: 0 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        text-transform: uppercase;
        color: #b7bacd;
        transition: all .2s ease-in-out;
        svg path {
            fill: #b7bacd;
        }
        span {
            margin-top: 12px;
        }
        &:hover {
            box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,1);
        }
        &:hover, &:hover svg path {
            color: #ffffff;
            fill: #ffffff;
        }
    }
    &__content {
        display: none;
        width: 100%;
        min-height: 425px;
        flex-direction: row;
        justify-content: space-between;
        background-color: #212534;
        padding: 58px 40px 60px 47px; 
    }
}

.tabs__link.active {
    color: #ffffff;
    box-shadow: inset 0px -2px 0px 0px rgba(255,255,255,1);
    svg path {
        fill: #ffffff;
    }
}

.tabs__content.current {
    display: flex;    
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

//RATING STARS
#stars {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 132px;
    margin-right: 10px;
}

.star {
    width: 19px;
    height: 19px;
    cursor: pointer;  
    transition: all .2s ease-in-out; 
}

#stars > li.star {    
    color:#4b536b;
  }
  
#stars > li.star.hover {
    color:#ffdd3f;
}
  
#stars > li.star.selected {
    color:#ffdd3f;
}

//GAME CONTENT
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 310px;
    &__title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }    
    &__text {
        margin-bottom: 20px;
        font-size: 14px;
        color: #b7bacd;
        line-height: 22px;
    }
}

//Animated Circular Rating
.circular-chart {
    height: 70px;
    width: 70px;
}

.percentage {
    text-anchor: middle;
    fill: #b7bacd;  
    font-size: .65rem;
}

.circle-bg {
    fill: transparent;
    stroke: #b7bacd;
    stroke-width: 0.5;    
}
  
.circle {
    fill: transparent;    
    stroke-width: 2;    
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

.circle_1 {
    stroke: url(#gradient_1);
}
.circle_2 {
    stroke: url(#gradient_2);
}
.circle_3 {
    stroke: url(#gradient_3);
}

@keyframes progress {
    0% {
      stroke-dasharray: 0 100;
    }
}

.game-title {
    color: #ffffff;
    h2 {
        font-size: 32px;
        font-weight: 400;
    }
    span {
        font-size: 14px;
    }
}

.buy {    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__price {
        text-transform: uppercase;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__discount {
        color: #ffdd3f;
        font-size: 12px;
    }
    &__amount {
        font-size: 32px;
        color: #ffffff;
    }
    &__btn {
        cursor: pointer;
        width: 100%;
        height: 55px;
        max-width: 164px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, rgba(0,212,190,1) 0%, rgba(26,231,127,1) 100%);
        color: #ffffff;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border-radius: 5px;
        &:hover {            
            background: linear-gradient(to left, rgba(0,212,190,1) 0%, rgba(26,231,127,1) 100%);
        }
    }
}

@media screen and (max-width: 600px) {
    .tabs__content {
        flex-direction: column;
    }
    .content {        
        max-width: unset;
        &__title {
            margin-top: 30px;
        }
        &__text {
            margin: 30px 0;
        }
    }
}

@media screen and (max-width: 381px) {
    .tabs__link span {
        display: none;
    }
    .tabs__link svg {
        width: 30px;
        height: 30px;
    }
    .content {
        text-align: center;
        &__title {
            flex-direction: column;
        }
        &__circle{
            margin-top: 30px;
        }
    }
    .buy {
        flex-direction: column;
        align-items: center;
        &__btn {
            margin-top: 30px;
        }
    }
}